<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Angular test</title>
    <script src="assets/js/card.js"></script>
  </head>
  
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form>
          <h1>{{ cards.results[0].name.first }}</h1>
          <span>{{ cards.results[0].email }} </span>
          <h2>{{ cards.results[0].phone }}</h2>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form>
          <h1>{{ cards.results[0].name.title }}. {{ cards.results[0].login.username }}</h1>
          <span></span>
         
        </form>
      </div>
  
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Location : </h1>
            <div class="mapouter"><div class="gmap_canvas">
              <iframe width="200" 
                      height="200" id="gmap_canvas"
                      [src]="loc | safe: 'resourceUrl'" 
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
              </iframe>
              </div></div>
            <button class="ghost" id="basicinfo">Basic info</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h3>Name : {{ cards.results[0].name.first }}</h3>
            <h3>Gender : {{ cards.results[0].gender }}</h3>
            <h3> Age : {{ cards.results[0].dob.age}}</h3>
            <button class="ghost" id="gmap">See more</button>
          </div>
        </div>
      </div>     
      
    </div>
    <h2 style="margin-top: 42%">Friends : </h2>
     
    <div class="container2" style="margin-top: 40%">
      
      
      <div class="card" *ngFor="let friend of friends">
        <h3 class="title">{{friend.name.first}}</h3>
        <br>
        <h4 >{{ friend.email }} </h4>
      </div>
  
    </div>
  </body>
  
  </html>